<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
username :
<input type="text" id="create_tbuser_username" />
password :
<input type="text" id="create_tbuser_password" />

<button onclick="login()">login</button>


<div style="width: 200px;">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id=""
         data-login_uri="/tbuser/login/google"
         data-auto_prompt="false"
         data-context="use">
    </div>
    <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="left">
    </div>
</div>

<script>
    function login(){
        $.ajax({
            url: "/api/tbuser/login",
            type: "POST",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify({
                username : $("#create_tbuser_username").val()
                ,password : $("#create_tbuser_password").val()
            }),
            cache: false,
            success: (obj_data, status, xhr)=>{
                if(obj_data["id"] === "not matched"){
                    alert("아이디와 비밀번호가 올바르지 않습니다.");
                } else {
                    alert(JSON.stringify(obj_data));

                    let refreshToken = xhr.getResponseHeader("RefreshToken");
                    let accessToken = xhr.getResponseHeader("Authorization");
                    alert(refreshToken);
                    alert(accessToken);

                    localStorage.setItem("refreshToken", refreshToken);
                    localStorage.setItem("accessToken", accessToken);
                    //generateAccessToken(obj_data["id"]);
                    //location.replace("/index");
                }
                //alert(JSON.stringify(data));
            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }

</script>

</body>
</html>