<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
username :
<input type="text" id="create_tbuser_username" />
password :
<input type="text" id="create_tbuser_password" />

<button onclick="login()">login</button>
<br/>
<br/>
refreshToken :
<input type="text" id="create_tbuser_refreshToken" />
<button onclick="access()">access</button>

<div style="width: 200px;">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id=""
         data-login_uri="/tbuser/login/google"
         data-auto_prompt="false"
         data-context="use">
    </div>
    <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="left">
    </div>
</div>

<script>
    function login(){
        $.ajax({
            url: "/api/tbuser/login",
            type: "POST",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify({
                username : $("#create_tbuser_username").val()
                ,password : $("#create_tbuser_password").val()
            }),
            cache: false,
            success: (obj_data, status, xhr)=>{
                if(obj_data["id"] === "not matched"){
                    alert("아이디와 비밀번호가 올바르지 않습니다.");
                } else {
                    alert(JSON.stringify(obj_data));

                    $("#create_tbuser_refreshToken").val(obj_data["id"]);


                    // localStorage.setItem("refreshToken", obj_data["id"]);
                    //
                    // let refreshToken = xhr.getResponseHeader("RefreshToken");
                    // let accessToken = xhr.getResponseHeader("Authorization");
                    // alert(refreshToken);
                    // alert(accessToken);

                    // localStorage.setItem("refreshToken", refreshToken);
                    // localStorage.setItem("accessToken", accessToken);
                    //generateAccessToken(obj_data["id"]);
                    //location.replace("/index");
                }
                //alert(JSON.stringify(data));
            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }

    // 이제 controller의 access에서 이걸 불러서, 서비스딴으로 넘겨주고, 거기서 작업처리.
    // 그러면 이제 id를 읽어올 수 있는데(refreshToken),
    // 시큐리티에서는 principal에서 다 제공해주는 기능
    function access(){
        $.ajax({
            url: "/api/tbuser/access",
            type: "POST",
            contentType : 'application/json; charset=utf-8',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.setRequestHeader("RefreshToken", localStorage.getItem("refreshToken"));
            },
            data: {},
            cache: false,
            success: (obj_data, status, xhr)=>{
                alert(JSON.stringify(obj_data));
            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                // alert(JSON.stringify(obj_data));
                let accessToken = obj_data["id"];
                localStorage.setItem("accessToken", accessToken);
            }
        });
    }
</script>

</body>
</html>